<% provide(:title) %>
<h1>RECIPES</h1>
<p>～レシピアイデア掲載サイト～</p>
<br>
<% if user_signed_in? %>
  <%= link_to "レシピを投稿する", new_recipe_path, class: "btn btn-lg btn-primary" %><br><br>
  <%= image_tag("top_page.jpg", alt: "top-picture", width: "100%", height: "350px") %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-lg btn-primary" %><br><br>
  <%= image_tag("top_page.jpg", alt: "top-picture", width: "100%", height: "350px") %>
<% end %>